absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
dj-database-url==3.0.0
Django==5.1.5
django-bootstrap-form==3.4
django-crispy-forms==2.4
flatbuffers==24.3.25
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.66.2
keras==3.6.0
Keras-Preprocessing==1.1.2
libclang==18.1.1
ml-dtypes==0.4.1
namex==0.0.8
numpy==2.2.1
opt_einsum==3.4.0
optree==0.13.0
phonenumbers==8.13.52
pillow==11.1.0
sqlparse==0.5.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
tzdata==2024.2
whitenoise==6.9.0
